.side-bar 
  .side-top
    .user-data
      .user-data__nam
        masa
      .user-data__icon
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to "#" do
          = icon('fas', 'cog')
       
  .groups-list
    .user-group
      .user-group__name
        teckcamp
      .user-group__message
        まだメッセージがありません

    .user-group
      .suse-group__name
        teckcamp
      .user-group__message
        まだメッセージがありません

    .user-group
      .suse-group__name
        teckcamp
      .user-group__message
        まだメッセージがありません

 